body {
	
	font-family: 'Baloo Chettan';
	color: black;
	
	background: #333333;
	font-size: 100%;
	text-align: center;
	background-attachment: fixed;
}

.header, .main {

  font-size: 15px;
  background: #BABABA;
  text-align: center;
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  max-width: 1200px;
}

.section{
  max-width: 1200px;
}

.identidad {
	background-color:#4d4d4d;
	display:inline-block;
	cursor:pointer;
	color:#707070;
	font-size:14px;
	width:80px;
    height:px;
	text-decoration:none;
	
	


}
.identidad:hover {
	background-color:#707070;
	color: white;
}
.identidad:active {
	position:relative;
	top:1px;
}

.libro{
	
	width: 90%;
	height:300px;
	max-width: 1000px; 
	
}

.form-control{

	background: #D2D9D0;
	width: 80%;
	padding: 5px 15px;
	margin: 8px;
	box-sizing: border-box;
	border-radius: 30px;
}

.wrap{
	
	max-width: 200px;
	margin: auto;
	background-color: #f2f2f2;
}
.login{
	
	font-size: 16px;
	margin: auto;
	background: #D2D9D0;
	padding: 5px 72.4px;

}
.button, 

form input[type=submit]{
  background-color: #4CAF50;
  color: white;
  padding: 8px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
  border: 1px solid white;
 
}
.p{
	font-size: 14px;

}

.button:hover{
	background-color: #54BF58;
	color: white;
	border: 1px solid black;
	
}

.text-control{
	font-family: 'arial';
	width: 5px;
	font-size: 15px;
	text-decoration: none;
	color: #595959;
	
}

.text-control:hover{
	text-decoration: underline;

}

.barra {
  
  padding: 10px 20px;
  overflow: hidden;
  background-color: #444444;
  margin: auto;
  width: 90%;
  max-width: 1200px;
}
.barra a {
  float: left;
  display: block;
  color: #707070;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 17px;

}
.barra a:hover {
  color: white;
}


.busqueda{
  font-size: 17px;
  background: #A6A6A6;
  padding: 4px 10px;
  border: black;
  float: right;
  margin: 15px;

  
}